@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid p-0">
<div class="text-center bg-black">
    <h1 class="display-4">Welcome</h1>
    <p>Chưa Biết Làm Gì Cả =))</p>


    @*  <video class="bg-video " autoplay="" muted="" loop="" playsinline="" preload="metadata">
        <source src="https://cdn.hstatic.net/files/200001023102/file/skate_la_03.mp4" type="video/mp4">
        Trình duyệt của bạn không hỗ trợ video HTML5.
    </video> *@
</div>
    <div class="Session1 p-5 bg-danger container-fluid p-0 ">
        <h1 class="text-white text-center">Session1</h1>
    </div>
    <div class="session2 p-5 bg-success container-fluid p-0 ">
        <h1 class="text-white text-center">Session2</h1>
    </div>
    <div class="session3 p-5 bg-primary container-fluid p-0 ">
        <h1 class="text-white text-center">Session3</h1>
    </div>
    <div class="session4 p-5 bg-warning container-fluid p-0 ">
        <h1 class="text-white text-center">Session4</h1>
    </div>
    <div class="session5 p-5 bg-info container-fluid p-0 ">
        <h1 class="text-white text-center">Session5</h1>
    </div>
    <div id="session6" class="session6 p-5 bg-secondary container-fluid p-0 ">
        <h1 class="text-white text-center">Session6</h1>
    </div>
</div>
